.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100;
  width: 100;
  z-index: -1;
  opacity: .17;
  overflow: hidden;

  &__content{
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 10vh, 100% 0, 100% 90vh, 0 100%);
    
  }
}