.feature-box {
  background-color: rgba($color-white, .7);
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .2s;

  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;
    padding-bottom: 1.5rem;
    
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03); 
  }
}